@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/capptions/font-roboto/blob/master/fonts/Roboto-Regular.woff2) format('woff2');
}